.config {
    overflow-y: scroll;
    max-height: 400px;
    border: solid;
    border-width: 1px 1px;
    border-color: black;
}

.config > .section {
    padding: 1em;
    border: solid;
    border-width: 1px 0px;
    border-color: black;
}
.config .section:nth-child(odd) {
    background-color:orange;
    border-color: black;
}

.options {
    align-self: auto;
}

.dropdown {
    /* display: inline; */
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    padding-left: 1em;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > :nth-child(odd) {
    background-color: lightblue;
}

.array {
    display: grid;
    grid-auto-rows: 1;
}
.array .input {
    max-width: 2em;
}